body * {
  box-sizing: border-box;
}
body {
  font-family: Nunito Sans, Arial, Helvetica, sans-serif;
}
.header {
  font-size: 11px;
  line-height: 15px;
  background-color: #131313;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
.header__content {
  height: 83px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 24px 90px 22px 92px;
}
.header__logo {
  color: #e3b873;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 124px;
}
.header__nav {
  margin-right: 66px;
}
.header__list {
  list-style: none;
  display: flex;
  justify-content: flex-start;
}
.header__list-element {
  margin-right: 47px;
}
.header__list-element:last-child {
  margin-right: 67px;
}
.header__list-element-link {
  text-decoration: none;
  color: #fff;
}
.header__list-element-link:hover {
  color: #e3b873;
}
.header__phone {
  margin-right: 45px;
  color: #e3b873;
}
.button {
  cursor: pointer;
  background: #e3b873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border: none;
}
.header__button {
  width: 161px;
  height: 37px;
  border-radius: 2px;
}
.button-text {
  font-family: Nunito Sans, Arial, Helvetica, sans-serif;
  font-style: italic;
  text-align: center;
  font-size: 11px;
  line-height: 15px;
  text-transform: uppercase;
  color: #ffffff;
}
.main-screen {
  position: relative;
  height: 707px;
  background-image: url(img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.main-screen:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.main-screen__card {
  position: relative;
  z-index: 3;
  padding-top: 190px;
  margin-left: 134px;
}
.title {
  font-family: Yeseva One;
  text-transform: uppercase;
  color: #ffffff;
}
.main-screen__card h1 {
  font-size: 40px;
  line-height: 53px;
  margin-bottom: 18px;
}
.main-screen__card p {
  font-size: 22px;
  line-height: 36px;
  color: #ffffff;
  margin-bottom: 25px;
}
.city {
  color: #e3b873;
}
.calculate-btn {
  width: 207px;
  height: 51px;
  margin-right: 17px;
  border-radius: 2px;
}
.app-submit-btn {
  width: 207px;
  height: 51px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 2px;
  background-color: transparent;
  cursor: pointer;
}
.projects {
  height: 1074px;
  background-color: #131313;
  font-family: Nunito Sans, Arial, Helvetica, sans-serif;
}
.projects-wrapper {
  display: flex;
}
.projects__title {
  font-size: 27px;
  line-height: 37px;
  letter-spacing: -0.07em;
  color: #e3b873;
}
.projects__subtitle {
  font-size: 18px;
  line-height: 25px;
  color: #e3b873;
}
h3 ~ span {
  font-size: 13px;
  line-height: 21px;
  color: #ffffff;
}
.projects__description {
  font-size: 14px;
  line-height: 27px;
  color: #ffffff;
}
.design-list {
  display: flex;
}
